/* General Styles */

:root {
  --green: #495E57;
  --yellow: #F4CE14;
  --orange: #EE9972;
  --pink: #FBDABB;
  --white: #EDEFEE;
  --black: #333333;
}

* {
  margin: 0;
  padding: 0;
}

html {
  width: 100vw;
}

li {
  list-style: none;
}

.title {
  font-family: "Markazi Text", serif;
  font-optical-sizing: auto;
  font-size: 64px;
}

.subtitle {
  font-family: "Markazi Text", serif;
  font-optical-sizing: auto;
  font-size: 40px;
}

.description {
  font-family: "Karla", sans-serif;
  font-optical-sizing: auto;
  font-size: 18px;
}

.section_title {
  font-family: "Karla", sans-serif;
  font-optical-sizing: auto;
  font-size: 20px;
  font-weight: bolder;
  text-transform: uppercase;
}

.card_title {
  font-family: "Karla", sans-serif;
  font-optical-sizing: auto;
  font-size: 18px;
  font-weight: bold;
}

.text {
  font-family: "Karla", sans-serif;
  font-optical-sizing: auto;
  font-size: 16px;
}

.cta {
  border-radius: 0.75rem;
  background: var(--yellow);
  color: var(--black);
  padding: 0.5rem 1rem;
  font-family: "Karla", sans-serif;
  font-optical-sizing: auto;
  font-size: 18px;
  font-weight: bold;
  border: none;
}

.cta:hover {
  color: var(--white);
  background: var(--orange);
  cursor: pointer;
}

/* Container styles */

.section_container_column {
  display: flex;
  flex-direction: column;
}

.section_container_row {
  display: flex;
}

/* Hero */

#hero {
  width: 100%;
  height: 100%;
  background: var(--green);
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

#hero .container_left {
  border: 1px solid red;
  padding: 0;
  width: 80%;
  margin-bottom: 1rem;
}

#hero .container_left .title {
  margin-bottom: 0;
  color: var(--yellow);
}

#hero .container_left .subtitle,
#hero .container_left .text {
  color: var(--white);
  text-align: justify;
}

#hero .container_left .cta {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

#hero .container_right {
  width: 60%;
  border-radius: 1rem;
  overflow: hidden;
}

#hero .container_right img {
  width: 100%;
}

/* Footer */

#footer {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

#footer .container_logo {
  width: 60%;
}

#footer .container_logo img {
  width: 100%;
}
